*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05)
}

.header__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 31px;
}

.header__search {
    position: relative;
    width: 100%;
    margin: 0 60px;
}

.btn-reset {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.search-button {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    background-image: url('https://i.ibb.co/zGBv1YN/search.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search-text {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-right: 20px;
    color: #BBC4D6;
    border-radius: 5px;
    outline: none;
    border: 1px solid #EBEBF1;
}

.search-text::placeholder {
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #BBC4D6;
}

.header__user {
    height: 80px;
}

.user-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-left: 20px;
    border-left: 1px solid #EBEBF1;
    text-decoration: none;
    white-space: nowrap;
}

.user-name {
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #768298;
}

.user-logo {
    margin-left: 10px;
}

.header-for-mobile__inner {
    display: none;
    position: relative;
}

.header-for-mobile__logo {
    height: 31px;
}

.header-for-mobile__user {
    height: 25px;
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
    color: #000;
}

.partners__title {
    margin-top: 70px;
    margin-bottom: 30px;
}

.partners__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 73px;
    margin: -15px;
}

.partners__item {
    width: 25%;
    text-align: center;
    padding: 15px;
    transition: box-shadow .2s ease-in;
}

.item__wrapper {
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    padding: 27px 17px;
    cursor: pointer;
    height: 120px;
    transition: box-shadow .2s ease-in;
}

.item__wrapper img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.item__wrapper:hover {
    cursor: pointer;
    box-shadow: -3px 0 40px 0 rgba(0, 0, 0, 0.1);
}



@media (max-width: 1210px) {
    .item__wrapper {
        padding: 27px 22px;
    }
    .partners__logos {
        margin: -10px;
    }
    .partners__item {
        width: 33.33333%;
        padding: 10px;
    }
}

@media(max-width: 768px){
    .header__search {
        max-width: 344px;
        margin: 0 50px;
    }
    .title {
        font-size: 28px;
    }
}

@media(max-width: 600px) {
    .header__search {
        margin: 0 30px;
    }
    .partners__item {
        width: 50%;
    }
}

@media(max-width: 530px) {
    .header__inner {
        display: none;
    }
    .header-for-mobile__inner {
        display: block;
    }
    .header-for-mobile__top {
        height: 63px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-button {
        top: 74px;
        left: 23px;
    }
    .search-text {
        padding-left: 49px;
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
}

@media(max-width: 435px) {
    .item__wrapper {
        padding: 28px 49px;
        height: 140px;
    }
    .partners__item {
        width: 100%;
    }
}